{% load i18n %}
{% load staticfiles %}


<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="">
  <link rel="icon" href="../../favicon.ico">
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
  <link href={% static 'classifier/css/style.css' %} rel="stylesheet">
</head>

<body>
  <nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="{% url 'home' %}">Smokin' Mirrors</a>
      </div>

      <div class="collapse navbar-collapse">
        <ul class="nav navbar-nav navbar-right">
        {% if request.user.is_authenticated %}
          <li><a href="{% url 'auth_logout' %}">Logout</a></li>
          <li>{{request.user.username}}</li>
        {% else %}
          <li><a href="{% url 'auth_login' %}">Login</a></li>
          <li><a href="{% url 'registration_register' %}">Register</a></li>
        {% endif %}
        </ul>
      </div>
    </div>
  </nav>

  {% block content %}
    {{ content }}
  {% endblock %}
</body>
