<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>{{ name }}</title>
    </head>
    <body>
        <u>Add Training Data</u>
        <form id="addDataForm" action="" method="post">
          {% csrf_token %}
          <label for="body">Body: </label>
          <input id='body' type="text" name="body" required=True><br>
          <label for="target">Target: </label>
          <input id='target' type="text" name="target" required=True><br>
          <input id="button" type="submit" value="Submit">
          <input type="hidden" id="classifier" value= {{ name }} >
      </form><br>
      Add CSV
      <form id="addCSVForm" action="" method="post" name="csvfile" enctype="multipart/form-data">
          {% csrf_token %}
          <input id="CSV" type="file" name="csvfile" value=""><br />
          <input id="csvbutton" type="submit" name="Submit" value="Submit"><br />
          <input type="hidden" id="classifier" value= {{ name }} >
      </form><br>
      <u>Predict</u>
      <form class="" action="" method="get">
        <input type="text" name="text"><br>
        <input type="submit" value="Submit">
      </form>
      <br>

      {% if predicted %}
      <div class="predicted">
        <p>
            This classifier has been trained with {{ data_size }} pieces of data.
        </p>
        <p>
            Based on the training data, the text: </p>
            "{{ text }}"
            <p> is most likely: {{ predicted }}
        </p>

        <form id="correctForm" action="" method="post">
            {% csrf_token %}
            <label for="submit">If the prediction was correct, please click here to train the classifier with the entered text:</label>
            <input id="correctButton" type="submit" value="Correct">
            <input type="hidden" id="correct" name='correct' value='correct'>
            <input type="hidden" id="correctBody" name='correctBody' value='{{ text }}'>
            <input type="hidden" id="correctTarget" name='correctTarget' value='{{ predicted }}'>
        </form>
      </div>
      {% endif %}
    <script src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.12.2.min.js"></script>
      <script src= '/static/classifier/classifier.js' ></script>

    </body>
</html>
