{% extends 'classifier/base.html' %}
{% load staticfiles %}
{% block content %}

<div class="site-wrapper">
  <div class="container">
    <div class="container">
      <div class"col-xs-12 col-md-8 col-sm-4">
        <div class"col-md-6">
          Pick an existing classifier!
          <br />
          {% for classifier in classifiers %}

            <a href="{% url 'classifier' classifier.classifier %}"> {{ classifier.classifier }} </a><br />

          {% endfor %}

        </div>

        <div>
          <div class"col-md-6 offset-col-md-6">
            Add a new classifier!
            <form action="" method="get">
              <input id='classifier' class=form-control type="text" name="classifier" required=True><br>
              <input id="button" class="btn btn-default" type="submit" value="Submit">
            </form>
          </div>
        </div>

      <!-- <div>
        Delete classifier
        <form id="delete" action="" method="post">{% csrf_token %}
          <input type="submit" name="delete" value="DELETE">
        </form>
      </div> -->
      </div>
    </div>
  </div>
</div>
{% endblock %}
