{% extends 'classifier/base.html' %}
{% load staticfiles %}
{% block content %}


<div class="container">
  <div class="row">
    <div class"col-xs-12 col-md-8 col-sm-4">
      <div>
        Pick an existing classifier!
        <p>
          {% for classifier in classifiers %}
            <ul>
              <a href="{% url 'classifier' classifier.classifier %}"> {{ classifier.classifier }} </a>
            </ul>
          {% endfor %}
        </p>
      </div>

      <div>
        Add a new classifier!
        <form action="" method="get">
          <input id='classifier' type="text" name="classifier" required=True><br>
          <input id="button" type="submit" value="Submit">
        </form>
      </div>

      <!-- <div>
        Delete classifier
        <form id="delete" action="" method="post">{% csrf_token %}
          <input type="submit" name="delete" value="DELETE">
        </form>
      </div> -->
    </div>
  </div>
</div>
{% endblock %}
